.image-aboutus-banner {
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url('https://cdn.dribbble.com/users/2826392/screenshots/5621245/media/f78454282b3ca8c4e31b10d75a38868a.jpg?compress=1&resize=1000x750&vertical=top');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    padding-top: 250px;
    padding-bottom:150px;
 }
 h2{
     
     color:rgb(54, 53, 53);
 }
 .kujj{
     text-align: center;
     color: greenyellow;
 }
 .mary{
     margin-left: 2.5rem;
    
 }